.basic-info__list {
  list-style: none;
  padding: 0;
}

.basic-info__item {
  color: $special_dark-grey;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
}