.how-it-works__heading {
  color: $basic_black;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 28px;
  margin-bottom: 0;
}

.how-it-works__list {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 46px;
}

.how-it-works__item {
  margin-bottom: 26px;
}

.how-it-works__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  margin-left: 40px;
  margin-bottom: 0;
}

.how-it-works__item--leaf::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../img/icon_leaf.svg");
  margin-left: -40px;
  margin-top: -1px;
}

.how-it-works__item--tube::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../img/icon_tube.svg");
  margin-left: -40px;
  margin-top: -1px;
}

.how-it-works__item--eat::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../img/icon_eat.svg");
  margin-left: -40px;
  margin-top: -1px;
}

.how-it-works__item--alarm::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: url("../img/icon_alarm.svg");
  margin-left: -40px;
  margin-top: -1px;
}