//device-width
$tablet-width:768px;
$desktop-width:1440px;
//colors
$basic_green: #68b738;
$basic_black: #000000;
$special_black: #111111;
$border_light:#e6e6e6;
$border_special-light:#e7e7e7;
$border_grey:#d9d9d9;
$basic_light: #ffffff;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$special_grey: #cdcdcd;
$basic_grey: #f2f2f2;
$basic_grey_special: #eaeaea;
$border_grey_special: #ebebeb;
